<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>inhritance_pckg.Add_to_cart_child3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Add_to_cart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>All_Value_Blank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Edit_Profile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
