<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1a09d">  <td>20/12/31 09:40:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart_child3.Add_to_cart()[pri:12, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">Add_to_cart</td> 
  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/12/31 09:40:56</td>   <td>-50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Child_class.All_Value_Blank()[pri:1, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">All_Value_Blank</td> 
  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/12/31 09:40:56</td>   <td>-107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Child_class.Edit_Profile()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">Edit_Profile</td> 
  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="9bd883">  <td>20/12/31 09:40:56</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Parent_class.afterClass()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e8eaa7">  <td>20/12/31 09:40:56</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Change_password_child2.afterTest()[pri:5, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">afterTest</td> 
  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="c1a09d">  <td>20/12/31 09:40:56</td>   <td>36</td> <td>&nbsp;</td><td title="&lt;&lt;Add_to_cart_child3.afterTest()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="9bd883">  <td>20/12/31 09:40:40</td>   <td>-16044</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Parent_class.beforeClass()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="c1a09d">  <td>20/12/31 09:40:40</td>   <td>-16079</td> <td>&nbsp;</td><td title="&gt;&gt;Add_to_cart_child3.beforeTest()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="c1a09d">  <td>20/12/31 09:40:56</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart_child3.click()[pri:11, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">click</td> 
  <td>main@1556995360</td>   <td></td> </tr>
<tr bgcolor="9bd883">  <td>20/12/31 09:40:56</td>   <td>-77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parent_class.f()[pri:0, instance:inhritance_pckg.Add_to_cart_child3@1d082e88]">f</td> 
  <td>main@1556995360</td>   <td></td> </tr>
</table>
